<h1>Welcome to my awesome site!</h1>
{{ template "lorem-ipsum" }}
{{ template "lorem-ipsum" }}
{{ template "lorem-ipsum" }}

{{- define "lorem-ipsum" }}
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non enim praesent elementum facilisis leo vel. Libero id faucibus nisl tincidunt eget nullam non nisi. Laoreet id donec ultrices tincidunt arcu non sodales neque. Scelerisque varius morbi enim nunc faucibus. Tincidunt lobortis feugiat vivamus at augue. Sed elementum tempus egestas sed. Volutpat ac tincidunt vitae semper quis lectus nulla. Nulla aliquet porttitor lacus luctus accumsan tortor posuere ac. Duis at consectetur lorem donec massa. </p>
{{- end }}
